/* line 1, ../sass/stylesFooterHeader.scss */
body {
  margin: 0px;
}

/* line 6, ../sass/stylesFooterHeader.scss */
footer {
  padding-top: 10px;
  padding-left: 40px;
  background-color: gray;
  height: 290px;
  width: 100%;
  bottom: 0px;
  position: fixed;
}
/* line 10, ../sass/stylesFooterHeader.scss */
footer #p4 div {
  background-image: url("../img/4.png");
}
/* line 18, ../sass/stylesFooterHeader.scss */
footer #p3 div {
  background-image: url("../img/3.png");
}
/* line 26, ../sass/stylesFooterHeader.scss */
footer #p2 div {
  background-image: url("../img/2.png");
}
/* line 34, ../sass/stylesFooterHeader.scss */
footer #p1 div {
  background-image: url("../img/1.png");
}
/* line 40, ../sass/stylesFooterHeader.scss */
footer #textoOtros {
  width: 220px;
  height: 30px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: arial;
}
/* line 50, ../sass/stylesFooterHeader.scss */
footer .boton:hover {
  background-color: black;
}
/* line 55, ../sass/stylesFooterHeader.scss */
footer .boton {
  transition: 0.15s;
  border-radius: 10px;
  background-color: darkgray;
}
/* line 61, ../sass/stylesFooterHeader.scss */
footer .boton div {
  width: 100px;
  height: 100px;
}
/* line 68, ../sass/stylesFooterHeader.scss */
footer div {
  margin: 5px;
  vertical-align: middle;
  display: inline-block;
}

/* line 84, ../sass/stylesFooterHeader.scss */
header {
  padding-left: 60px;
  padding-top: 4px;
  background-color: gray;
  height: 52px;
  width: 100%;
  top: 0px;
  position: fixed;
}
/* line 86, ../sass/stylesFooterHeader.scss */
header #texto {
  color: white;
  font-size: 25px;
  font-family: arial;
}
/* line 93, ../sass/stylesFooterHeader.scss */
header #icono {
  background-image: url("../img/icon.png");
  width: 50px;
  height: 50px;
}
/* line 100, ../sass/stylesFooterHeader.scss */
header div {
  vertical-align: middle;
  display: inline-block;
}

@media (min-width: 450px) {
  /* line 117, ../sass/stylesFooterHeader.scss */
  footer {
    height: 130px;
  }

  /* line 122, ../sass/stylesFooterHeader.scss */
  header {
    padding: 4px;
  }
}
