body
{
    margin: 0px;
}

footer
{
    #p4
    {
        div
        {
            background-image: url('../img/4.png');
        }  
    }

    #p3
    {
        div
        {
            background-image: url('../img/3.png');
        }
    }

    #p2
    {
        div
        {
            background-image: url('../img/2.png');
        }
    }

    #p1
    {
        div
        {
            background-image: url('../img/1.png');  
        } 
    }

    #textoOtros
    {
        width: 220px;
        height: 30px;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: arial;
    }

    .boton:hover
    {
        background-color:black;
    }

    .boton
    {
        transition: 0.15s;
        border-radius: 10px;
        background-color: darkgray;

        div
        {
            width: 100px;
            height: 100px;
        }
    }

    div
    {
        margin: 5px;
        vertical-align: middle;
        display: inline-block;
    }

    padding-top: 10px;
    padding-left: 40px;
    background-color: gray;
    height: 290px;
    width: 100%;
    bottom: 0px;
    position: fixed;
}

header
{
    #texto
    {
        color: white;
        font-size: 25px;
        font-family: arial;
    }

    #icono
    {
        background-image: url('../img/icon.png');
        width: 50px;
        height: 50px;
    }

    div
    {
        vertical-align: middle;
        display: inline-block;
    }

    padding-left: 60px;
    padding-top: 4px;
    background-color: gray;
    height: 52px;
    width: 100%;
    top: 0px;
    position: fixed;
}

@media (min-width: 450px) 
{
    footer
    {
        height: 130px;
    }

    header
    {
        padding: 4px;
    }
}