
<main>  
    <div id="principal">
        <div id="titulo">
            <div id="icono"></div>
            <div id="texto">CHARIZARD</div>
        </div>

        <div id="imagen"></div>   
    </div>

    <div id="caracteristicas">
        <ul>
            <li>FEATURES</li>
            <li>Altura: 1,7 m</li>
            <li>Peso: 90,5 Kg</li>
            <li>Categoría: Llama</li>
            <li>Habilidad: Mar Llamas</li>
            <li>Sexo: Mixto</li>
            
            <div>
                <button id="subir" (click)="puntaje = puntaje + 1"></button>
                <li>{{puntaje}}</li>
                <button id="bajar" (click)="puntaje = puntaje - 1"></button>
            </div>
            
        </ul>
    </div>
</main>

