<main>

    <div id="principal">
        <div id="titulo">
            <div id="icono"></div>
            <div id="texto">{{Name}}</div>
        </div>
        <div id="imagen"> </div>   
    </div>

    <div id="caracteristicas">
        <ul>
            <li>FEATURES</li>
            <li>Altura: {{Altura}}</li>
            <li>Peso: {{Peso}}</li>
            <li>Categoría: {{Categoria}}</li>
            <li>Habilidad: {{Habilidad}}</li>
            <li>Sexo: {{Sexo}}</li>
            
            <div>
                <button id="subir" (click)="Puntaje = Puntaje + 1"></button>
                <li>{{Puntaje}}</li>
                <button id="bajar" (click)="Puntaje = Puntaje - 1"></button>
            </div>   
        </ul>
    </div>

</main>