main
{
    div
    {
        #titulo
        {
            color: black;
            font-family: arial;
            font-size: 30px;
            margin-bottom: 10px;
            text-align: center;
        }

        margin: 110px auto;
    }
}